

.navbar-default {
  background-color: $navbar-default-bg;
  border: 0;
  }

/* - - - - - - Logo - - - - - - */

 #branding {
 	margin:1em 0 0 0;
 	display: inline-block;
 	width: 33%;

	 	img {
	 		max-width: 200px;
      width: 100%;
	 	}


 }

/* - - - - - - Navigation - - - - - - */

.nav:before, .nav:after {
  display: none;
}

.navbar {
	margin-bottom: 0.35rem;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-header {
  margin-top: .5em;
}

 .navbar-nav {
 	display: inline-block;
  margin: 0 auto;
  //float: none;
 }

 .navbar-default .navbar-collapse {
 	margin: 1em 0;
 	width: 100%;
 	text-align: center;
 	padding: 0;
  border-top: 0;

 		ul#menu-primary-navigation {
 			display:table;
 			width: 100%;
 			margin: 0;
 			padding: 0;
 	}

 		@media only screen and (min-width:768px) {

 		}

 }

   .navbar-default .navbar-nav li {
   		text-align: center;
   		width: 49%;
   		float: left;
   		margin-bottom: 4px;
      position: relative;

   			&:nth-child(odd) {
   				margin-right: 4px;
   			}

        &:nth-child(even) {
          margin-right: 0px;
        }


 		@media only screen and (min-width:768px) {
      width: auto;
      margin-bottom: 0;
      display: table-cell;
      float: none;

 			   	&:nth-child(odd) {
   				margin-right: 0;
   			}
 		}


   	}

 .navbar-default .navbar-nav li a, .navbar-default .navbar-nav > .open > a {
 	color: $navbar-default-link-color;
 	display: block;
 	font-weight: 500;
  font-size: .9em;
  padding: .55em 0;
 	background-color: $navbar-default-link-bg;

 		&:hover {
 			background-color: lighten($brand-primary, 6%);
 		}

 		@media only screen and (min-width:768px) {

 			background: $navbar-default-link-bg;
      border-right: 2px solid $brand-secondary;

 		}

    @media only screen and (min-width:992px) {
        font-size: 1em;
        padding: .515em 0;
    }
 }

  .navbar-default .navbar-nav li:last-child a{
      border-right: 0;
     		&:hover {
     			background: $navbar-default-link-hover-bg;
     		}
 }

 .navbar-default .navbar-nav li:last-child a {
      background: $brand-primary;
 }

.navbar-default .navbar-nav li.active:last-child a {
 	background: $navbar-default-link-hover-bg;
 }

 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 	 color: $navbar-default-link-color;
  	 background-color:$navbar-default-link-hover-bg;

 }

.navbar-default button.navbar-toggle, .navbar-default button.navbar-toggle:focus, .navbar-default button.navbar-toggle:active, .navbar-default button.navbar-toggle:hover {
 	background: $brand-primary;
 }


.navbar-nav .open .dropdown-menu {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  min-width: 200px;
  margin-top: 4px;

    @media only screen and (min-width:768px) {
        margin-top: 0;
    }
}

.dropdown ul.dropdown-menu li {
  width: 100%;
  max-width: 100%;
  text-align: left;
  display: inline-block;

   @media only screen and (min-width:768px) {
      //margin-top: 4px;

        &:first-child {
          margin-top: 0;
        }
    }

    a {
      background: $brand-primary;
      padding: 8px;
      width: 100%;
      height: 100%;
      font-size: .9em;
      white-space: normal;
      border-right: 0;

            @media only screen and (min-width:768px) {
                font-size: 1em;
                //margin-bottom: 4px;
    }

    }

    // ul.dropdown-menu li a:hover,
    // ul.dropdown-menu li a:active,
    // ul.dropdown-menu li a:focus {
    //   // background: lighten($brand-primary, 6%);
    //   background: $navbar-default-link-hover-bg;
    //   color: green;
    //   border-right: 0;

    // }

}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  color: $dark-text-clr;
}

/* - - - - - - Search - - - - - - */

 #search {
 	float: right;
 	display: inline-block;
 	margin: 1em 0 0 0;
 	width: 50%;

 		@media only screen and (min-width:768px) {
 			width: 36%;
 			 	margin: 1em 0 0 0;
 		}
 }

 .form-control {
 	border-radius: 0;
 	padding: 6px 12px 2px 8px;

 }

 .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
 	border: 0;
 	padding: 0;
 	margin: 0 0 0 6px;
 }


