#news-banner {
  display: block;
  margin-bottom: 2em;
  height: 153px;
  position: relative;
  overflow: hidden;
  padding: 0;

  @include media-breakpoint-up(sm) {
    height: 306px;
  }

  .news-banner-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: $brand-secondary;
    background-color: fade($brand-secondary, 90%);
    padding: 15px;
    color: $light-text-clr;

    @media (min-width: 991px) {
      width: 66.6666%;
      height: auto;
    }

    a {
      color: $light-text-clr;
    }

    h2 {
      margin: 0 0 10px 0;
      font-size: 20px;

      @include media-breakpoint-up(sm) {
        font-size: 30px;
      }
    }
  }
}

.intro {

  display: none;

  @include media-breakpoint-up(sm) {
    display: inline-block;
  }

  h2 {
    margin-top: 0;
  }

}

.container a.float-right {
  float: right;

}

.container .about a {
  color: $body-text-link;

  &:before {
    content: "\25B8";
    color: $left-link-arrow;
    margin-right: .5em;
    margin-bottom: 2px;
  }

}

.quick-links ul li {
  width: 100%;
  background: $brand-primary;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: $dark-text-clr;
    text-decoration: none;
    display: block;
    padding: 18px;
    font-size: 1.2em;


    &:hover {
      color: $dark-text-clr;
      text-decoration: underline;
    }
  }
}

.news ul li {
  float: none;
  list-style: none;
  border-bottom: 1px solid $thin-divider-clr;

  &:last-child {
    border-bottom: 0;
  }

  h3 {
    a {
      color: $dark-text-clr;
    }

  }
}

li .news-details {
  padding-bottom: 1em;
  margin-left: 2%;
  overflow: hidden;

  h3 {
    font-size: 1.5em;
    color: $dark-text-clr;
  }

  .home-news-img-wrapper {
    height: auto;
    width: 49%;
    padding: 0 .5em .5em .5em;
    overflow: hidden;
    margin: 0 0 0 1em;
    float: right;
  }
}

.news-meta {
  margin: 1em 0;
  font-size: .95em;
}

.news-img-wrapper {
  margin: 0 0 1em 0;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.page-img-wrapper {
  height: 300px;
  overflow: hidden;
  @include media-breakpoint-up(sm) {
    height: auto;
  }
}

.news-archive-links {

  li {
    overflow: hidden;
  }

  .news-img-wrapper {
    margin: 0 2em 0 0;
    width: 33.3333%;
    height: 132px;
    float: left;
    display: inline-block;
  }

}

.links ul li {
  margin-bottom: .5em;
}

.video-container {
  display: block;
  margin-top: 0;
  border-bottom: none;
}

.archive-links {
  -webkit-columns: 3 230px;
  -moz-columns: 3 230px;
  columns: 3 230px;
  -webkit-column-gap: 6em;
  -moz-column-gap: 6em;
  column-gap: 6em;
  -webkit-column-rule: 1px dotted $thin-divider-clr;
  -moz-column-rule: 1px dotted $thin-divider-clr;
  column-rule: 1px dotted $thin-divider-clr;

  li {
    margin-bottom: 1.5em;

    &:first-child h4 {
      margin-top: 3px;
    }

    h4 {
      font-weight: normal;
      font-size: 16px;

      .file-meta {
        @extend .post-date
      }
    }
  }
}

/* FAQs */

.panel-default > .panel-heading {
  color: $dark-text-clr;
  background-color: lighten($brand-primary, 6%);
  border-color: $brand-secondary;
  border-radius: 0;
}

.panel-group .panel {
  margin-bottom: 12px;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* Contact Us */

img.ninja-forms-help-text {
  width: auto;
}

.ninja-forms-form-wrap label {
  font-weight: normal !important;
}

.ninja-forms-required-items {
  margin: 1em 0;
  font-size: .9em;
}

input[type="submit"] {
  background: $brand-primary;
  border: 1px solid $brand-secondary;
  padding: 4px 8px;

  &:hover {
    background: lighten($brand-primary, 6%);
  }
}

/* Current vacancies */

.vacancies .col-sm-7 {
  border-right: 1px solid #eeeeee;
}

.vacancies ul {
  list-style-type: disc;
  margin: 20px 0 0 20px;

  li {
    margin-bottom: .5em;
  }
}

.vacancies h3 {
  margin-top: 0;
}

.vacancies-list {
  margin: 20px 0;
}

form.vs-search {
  width: 100%;
  float: none;
  padding-bottom: 1em;
  @include media-breakpoint-up(sm) {
    width: 44%;
    float: right;
    margin-top: -7px;
  }

}

.job-sort {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid $thin-divider-clr;
  border-bottom: 1px solid $thin-divider-clr;
  padding-bottom: 1em;
  @include media-breakpoint-up(sm) {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
  }

}


